@* home Template File *@
@(jobPosts: Seq[String],jobTitle: String, company: String, location: String, remoteType: String, salary: String, description: String, qualifications: List[String])(implicit request: MessagesRequestHeader, flash: Flash)

<div class="search-bar">
    <form action="#" method="get">
        <input type="text" name="search" placeholder="Search...">
        <input type="submit" value="Search">
    </form>


    
</div>

@main("home") {
    <h4>Home page</h4>

    <ul>
        @jobTitle
        @for((jobPost, i) <- jobPosts.zipWithIndex) {
            <li>@jobPost</li>
            
        }    

    </ul>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <div class="info-container">
        <div class="text-info">
          <h1> @jobTitle</h1>  
        </div>
        <div class="text-info">
          @company
        </div>
        <div class="text-info">
         @location
        </div>
        <div class="text-info">
         @remoteType
        </div>

        </div>
    </div>
}
