@(job: JobItem)

@main("Job Information") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <div class="info-container">
        <h4 class="text-heading">Job Information</h4>
        <div class="text-info">
            <strong>Job Title:</strong> @job.name
        </div>
        <div class="text-info">
            <strong>Company:</strong> @job.cId
        </div>
        <div class="text-info">
            <strong>Location:</strong> @job.location
        </div>
        <div class="text-info">
            <strong>Remote Type:</strong> @job.remote
        </div>
        <div class="text-info">
            <strong>Estimated Salary:</strong> @job.salary
        </div>
        <!-- <div class="text-info">
            <strong>Description:</strong> @job.description
        </div>
        <div class="text-info">
            <strong>Qualifications:</strong>
            <ul>
                @for(qualification <- qualifications) {
                    <li>@qualification</li>
                }
            </ul>
        </div> -->
        <a href = "@routes.TigerHire.applicationPage">
        <button>
            Apply
          </button>
        </a>
    </div>
}