@(name: String, pronouns: String, bio: String, education: String, experience: String)

@main("Profile") {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <div class="profile-container">
        <h3 class="profile-heading">@name (@pronouns)</h3>
        <div class="profile-info">
            <strong>Bio:</strong> @bio
        </div>
        <div class="profile-info">
            <strong>Education:</strong> @education
        </div>
        <div class="profile-info">
            <strong>Experience:</strong> @experience
        </div>
    </div>
}