@(username: String, jobList: Seq[JobItem])

@navbar("Inbox")

@main("Inbox") {

  <h2>Welcome to your company's jobs, @username!</h2>

  @for(job <- jobList){
   
    <div class="info-container">
        
        <div class="text-info">
            <a href = "@routes.TigerHire.job"><h1>@job.name</h1></a>
            
  
        </div>    

        <div class="text-info">
         <a href = "@routes.TigerHire.company">@job.id</a>
        </div>
        <div class="text-info">
         @job.location
        </div>
        <div class="text-info">
         @job.remote
        </div>
        <div class="text-info">
         Salary: @job.salary
        </div>

        </div>
    </div>
}
}