.info-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px #800000;
}

.text-heading {
    color: #333;
    text-align: center;
}

.text-info {
    margin-top: 10px;
}

strong {
    margin-right: 5px;
}